body {
  margin: 0;
}

.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  height: 200px;
}

.draggable {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000;
  cursor: move;
  text-align: center;
}
